*{
 color: #fff;   
}
body{
    background:url(The-Milky-Way-Galaxy-Cool-Desktop-Background-1680x1050.jpg);
    font-family: "Muli";
}
h1, p{color: #fff;font-weight: bolder}
.but button{
    border-bottom: 2px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}
.but a{
    color: #fff;
    text-decoration: none;
}

